# Wifi details
wifi_ssid: "ssid"
wifi_password: "wifi-password"

# API Password
api_password: ""

# OTA Password
ota_password: ""

#Mqtt details
mqtt_broker: "192.168.0.123"
mqtt_port: 1883
mqtt_username: ""
mqtt_password: ""